h2 {
    color: red;
    width: 500px;
    /*border: 1px solid black;*/
}

html {
    background-color: brown;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #00ff37;
  padding: 0 100px 100px 100px;
  border: 5px solid rgb(109, 108, 112);
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: rgba(251, 255, 34, 0.467);
}